* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    overflow-x: hidden;
  }
  
  h1 {
    color: #B5A594;
    background-color: #272727;
    text-align: center;
    box-sizing: border-box;
    font-size: 3vw;
    padding: 2vw;
  }

  h2 {
    color: #454545;
  }

  p {
    font-size: 1.75em;
    padding: 3vw;
    margin: 3vh;
  }

  li {
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;  
    text-align: center; 
    /* Bootstrap default settings has a display block, so the above needs to be used to show numbers on an ordered list */
  }
  
  .card {
    margin: 3vh 2vw;
  }
  
  .card p {
    font-size: 1em;
  }
  
  /* Object-fit: cover enables zoom instead of image stretching for the card images. */
  .card img {
    width: auto;
    height: 60vh;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1em;
  }
  
  .card-text {
    font-size: 3vh;
  }
  
  /* Scoped image class to make carousel images a certain size. I set a max-height because the pictures were not aligning for my friend with a bigger screen. */
  .carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
    max-height: 100vh;
  }
  
  .footer {
    position: relative;
    bottom: 0; 
    width: 100%;
    text-align: right;
  }
  
  .nav a{
    color: #DAAD86;
    padding: 1vw;
    object-fit: fill;
    font-size: 1.5vw;
  }
  
  .nav a:hover{
    color: #BC986A;
    background-color: #454545;
  }

  /* Flexbox container :) */
  .flex-container__dry,
  .flex-container__mix,
  .flex-container__wet {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  
  /* Flexbox left for food*/
  .flex-left__dry,
  .flex-left__mix,
  .flex-left__wet {
    width: 30%;
    padding-top: 2em;
    padding-left: 1em;
    flex-wrap: wrap;
  }

  /* Sizes image for food */
  .flex-left__image--dry,
  .flex-left__image--mix,
  .flex-left__image--wet {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Flexbox right for food */
  .flex-right__dry,
  .flex-right__mix,
  .flex-right__wet {
    padding: 4em;
    width: 70%;
  }

  /* Paragraph for food */
  .flex-right__dry p,
  .flex-right__mix p,
  .flex-right__wet p {
    font-size: 1em;
  }

  #home-paragraph,
  #breed-paragraph {
    padding: 1vw;
    margin: 4vw;
    text-align: center;
  /* Around 20px font for these paragraphs */
    font-size: 1.25em;
  }

  /* For the small screen homies */
  @media (max-width: 576px) {
      p {
        font-size: 2vh;
      }
      
      h1 {
        font-size: x-large;
      }

      #home-paragraph {
        font-size: 1em;
      }

      .carousel-item img {
        height: 400px;  
        max-height: 400px;
      }
    
      .card img {
        width: auto;
        height: 400px;
        min-height: 400px;
      }
  
      .nav a {
        font-size: 2vh;
      }

      .flex-container__dry,
      .flex-container__mix,
      .flex-container__wet {
        font-size: 3vw;
        text-align: start;
        padding: 1px;
        margin: 0 auto;
        color: #000;     
      }
  }